<%- include('header') %>
    <!-- start: content -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <span class="btn-group">
                    <a href="matches.html" class="btn btn-info">Matches</a>
                    <a href="index.html" class="btn btn-info">Profile</a>
                    <a href="swap.html" class="btn btn-info">Search</a>
                    <a href="login.html" class="btn btn-info">Logout</a>
                </span>
            </div>
        </div>
            <div class="col-md-push-3 col-md-6 col-xs-12">
                <h2>Do you like him/her?</h2>
                <img src="http://lorempixel.com/400/200/animals" />
                <table class="table table-stripped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Color</th>
                        <th>Age</th>
                        <th>About me</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Jack</td>
                        <td>Freezy</td>
                        <td>Blue</td>
                        <td>23</td>
                        <td>It's me</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <a href="swap.html" class="btn btn-lg btn-primary">Yes</a>
                    <a href="swap.html" class="btn btn-lg btn-primary">No</a>
                    <a href="swap.html" class="btn btn-lg btn-primary">Back</a>
                </div>
            </div>
          </div>
    <%- include('footer') %>